In [2]:
import os
import pandas as pd
import shutil

In [3]:
isic2019_data = pd.read_csv('/home/ubuntu/data/isic-2019/ISIC_2019_Training_GroundTruth.csv')

In [4]:
isic2019_data

              image  MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
0      ISIC_0000000  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
1      ISIC_0000001  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
2      ISIC_0000002  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
3      ISIC_0000003  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
4      ISIC_0000004  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
...             ...  ...  ...  ...  ...  ...  ...   ...  ...  ...
25326  ISIC_0073247  0.0  0.0  1.0  0.0  0.0  0.0   0.0  0.0  0.0
25327  ISIC_0073248  0.0  0.0  0.0  0.0  1.0  0.0   0.0  0.0  0.0
25328  ISIC_0073249  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
25329  ISIC_0073251  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
25330  ISIC_0073254  0.0  0.0  0.0  0.0  1.0  0.0   0.0  0.0  0.0

[25331 rows x 10 columns]

In [5]:
print(isic2019_data.columns)

Index(['image', 'MEL', 'NV', 'BCC', 'AK', 'BKL', 'DF', 'VASC', 'SCC', 'UNK'], dtype='object')

In [6]:
isic2019 = isic2019_data.melt(id_vars = 'image', var_name = 'diagnostic', value_name = 'Flag')

In [7]:
isic2019_data.shape

(25331, 10)

In [8]:
isic2019

               image diagnostic  Flag
0       ISIC_0000000        MEL   0.0
1       ISIC_0000001        MEL   0.0
2       ISIC_0000002        MEL   1.0
3       ISIC_0000003        MEL   0.0
4       ISIC_0000004        MEL   1.0
...              ...        ...   ...
227974  ISIC_0073247        UNK   0.0
227975  ISIC_0073248        UNK   0.0
227976  ISIC_0073249        UNK   0.0
227977  ISIC_0073251        UNK   0.0
227978  ISIC_0073254        UNK   0.0

[227979 rows x 3 columns]

In [9]:
isic2019 = isic2019[isic2019.Flag==1]

In [10]:
isic2019 =isic2019.drop(columns=['Flag'])

In [11]:
isic2019

                           image diagnostic
2                   ISIC_0000002        MEL
4                   ISIC_0000004        MEL
12                  ISIC_0000013        MEL
21      ISIC_0000022_downsampled        MEL
25      ISIC_0000026_downsampled        MEL
...                          ...        ...
202498              ISIC_0073022        SCC
202503              ISIC_0073030        SCC
202541              ISIC_0073088        SCC
202606              ISIC_0073195        SCC
202627              ISIC_0073223        SCC

[25331 rows x 2 columns]

In [12]:
dest_dir = '/home/ubuntu/data/isic-2019/images_by_class/'
data_dir = '/home/ubuntu/data/isic-2019/ISIC_2019_Training_Input/ISIC_2019_Training_Input/'

In [14]:
label = isic2019['diagnostic'].unique().tolist()
print(label)
label_images = []

['MEL', 'NV', 'BCC', 'AK', 'BKL', 'DF', 'VASC', 'SCC']

In [15]:
for i in label:
    print(dest_dir + str(i) + '/')
    os.mkdir(dest_dir + str(i))
    sample = isic2019[isic2019['diagnostic'] == i]['image']
    label_images.extend(sample)
    for id in label_images:
        shutil.copyfile((data_dir + '/' + id + '.jpg' ), (dest_dir + str(i) + '/' + id+ '.jpg' ))
    label_images = []

/home/ubuntu/data/isic-2019/images_by_class/MEL/
/home/ubuntu/data/isic-2019/images_by_class/NV/
/home/ubuntu/data/isic-2019/images_by_class/BCC/
/home/ubuntu/data/isic-2019/images_by_class/AK/
/home/ubuntu/data/isic-2019/images_by_class/BKL/
/home/ubuntu/data/isic-2019/images_by_class/DF/
/home/ubuntu/data/isic-2019/images_by_class/VASC/
/home/ubuntu/data/isic-2019/images_by_class/SCC/